name: Get latest data

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  shot-scraper:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - uses: actions/cache@v3
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip
    - name: Cache Playwright browsers
      uses: actions/cache@v3
      with:
        path: ~/.cache/ms-playwright/
        key: ${{ runner.os }}-playwright
    - name: Install apt stuff
      run: |
        apt-get update
        apt-get install -y libnspr4 libnss3 libatk1.0-0t64 libxcomposite1 libxdamage1 libxfixes3 libxrandr2 libgbm1 libxkbcommon0 libatk-bridge2.0-0t64 libatspi2.0-0t64 libasound2t64 libcups2t64
    - name: Install dependencies
      run: |
        pip install shot-scraper
        shot-scraper install
    - name: Fetch latest data
      run: |
        shot-scraper javascript https://www.northernpowergrid.com/power-cuts-map "
        async () => {
          const response = await fetch('https://power.northernpowergrid.com/Powercut_API/rest/powercuts/getall');
          const result = await response.json();
          return result;
        }" --bypass-csp | jq . > outages.json
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
